body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: black;
}
.counter {
    font-size: 50px;
    margin-bottom: 20px;
    color: #19bc52;
}
.btn {
    padding: 20px 40px;
    margin: 5px;
    font-size: 20px;
    background-color: #19bc52;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #07fd65;
}
.card {
    display: inline-block;
    padding: 70px;
    border-radius: 40px;
    background-color: black;
    border: 2px solid #17a44c;
}
.card:hover {
    box-shadow: 0 6px 20px rgba(100, 255, 149, 0.8);
}
pre {
    margin-top: 30px;
    background-color: gray;
    border-radius: 20px;
    padding: 0 20px;
    color: #19bc52;
}